<div class='row'>
  <div class='edit-user'>
    <div class='row'>
      <div class='col s12 l6 offset-l3 m6 offset-m1 center'>
        <h2 class='grey-text text-lighten-1'>Atualizar Perfil</h2> 
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='card z-depth-4 col s12 l6 offset-l3 m6 offset-m1'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="input-field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Aguardando confirmação para: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="input-field">
          <%= f.label :password %> <i>(deixar em branco se não quiser atualizar)</i>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> caracteres no mínimo</em>
          <% end %>
        </div>

        <div class="input-field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="input-field">
          <%= f.label :current_password %> <i>(Precisamos de sua senha atual para confirmar suas alterações)</i>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="row center">
          <button class='btn btn-large custom-blue form-button'>
            <i class='material-icons right'>send</i>Atualizar
          </button>
        </div>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='card z-depth-4 col s12 l6 offset-l3 m6 offset-m1 center'>
      <h3 class='red-text'>Cancelar minha conta</h3>
      <div class='row'>
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete%>
      </div>
    </div>
  </div>
</div>

