<div class="row portfolios">
  <div class="col m12">
    <p class="custom-grey-text title">Seus Portfólios</p>
  </div>
  <%= render @portfolios %>
  <div class="add-portfolio col s12 m3 l3">
    <div class="card-panel center">
        <%= link_to portfolios_path, method: :post, class: "new-portfolio" do %>
        <%= image_tag("/add_portfolio.png", width: "150px") %>
        <% end %>
    </div>
  </div>
</div>
<!-- modal delete portfolio -->
<div id="confirmDeletePortfolio" class="modal modal-delete-portfolio">
  <div class="modal-content">
      <h5 >Deseja realmente remover o portfolio?</h5>
    </div>
    <div class="modal-footer">
      <%= form_with url: '/portfolios/:id', method: 'delete', html: {class: 'remove_portfolio'} do |f| %>
        <%= f.hidden_field :id %>
        <button type='submit' class="modal-close waves-effect waves-green btn-flat green-text">Sim</button>
        <a class="modal-close waves-effect waves-green btn-flat red-text">Não</a>
      <% end %>
    </div>
</div>